<h3>Source with Id: @OneSource.Id</h3>
<div>
    <tr>__________________________</tr>
    <tr>@OneSource.Url</tr>
    <tr>@OneSource.Name</tr>
    <tr>@OneSource.Description</tr>
    <tr>@OneSource.Title</tr>
    <tr>@OneSource.DataCreatedAt</tr>
    <tr>@OneSource.DataUpdatedAt</tr>
    <tr>__________________________</tr>
</div>




