<h3>The List of all Sources</h3>

@foreach (var source in AllSources)
{
    <tr>
        <tr>__________________________</tr>
        <tr>@source.Id</tr>
        <tr>@source.Name</tr>
        <tr>@source.Description</tr>
        <tr>@source.Title</tr>
        <tr>@source.Url</tr>
        <tr>@source.DataCreatedAt</tr>
        <tr>@source.DataUpdatedAt</tr>
        <tr>__________________________</tr>
    </tr>
}
